<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Middleware</title>
    </head>

    <body>
        <h1>Middleware canales Practica 1</h1>
        <h3>Bienvenido
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Guest
            {% endif %}!
        </h3>

        {% if current_user.is_authenticated %}
            {% if producer %}
                <a href="{{ url_for('create_room') }}">Crear un canal</a>
                <br>
            {% endif %}
            <a href="{{ url_for('list_available_rooms') }}">Suscribirse a un canal</a>
            <h3>Canales a los que estoy suscrito:</h3>
            <ul>
                {{ available }}
                {% for room in rooms %}
                    <li><a href="{{ url_for('view_room', room_name=room)}}">{{ room }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <a href="{{ url_for('logout') }}">Salir</a>
        {% else %}
            <a href="{{ url_for('register') }}">Registrate</a> <br>
            <a href="{{ url_for('login') }}">Ingresa</a>
        {% endif %}
    </body>

</html>